JetBrains
!JetBrains/IdeaIC2025.2/codestyles/Default.xml
!JetBrains/IdeaIC2025.2/early-access-registry.txt
!JetBrains/IdeaIC2025.2/idea64.vmoptions
!JetBrains/IdeaIC2025.2/options/advancedSettings.xml
!JetBrains/IdeaIC2025.2/options/colors.scheme.xml
!JetBrains/IdeaIC2025.2/options/editor-font.xml
!JetBrains/IdeaIC2025.2/options/editor.xml
!JetBrains/IdeaIC2025.2/options/ide.general.xml
!JetBrains/IdeaIC2025.2/options/jdk.table.xml
!JetBrains/IdeaIC2025.2/options/laf.xml
!JetBrains/IdeaIC2025.2/options/linux/keymap.xml
!JetBrains/IdeaIC2025.2/options/notifications.xml
!JetBrains/IdeaIC2025.2/options/other.xml
!JetBrains/IdeaIC2025.2/options/project.default.xml
!JetBrains/IdeaIC2025.2/options/terminal.xml
!JetBrains/IdeaIC2025.2/options/trusted-paths.xml
!JetBrains/IdeaIC2025.2/options/ui.lnf.xml

