JetBrains
!JetBrains/IdeaIC2025.2/idea64.vmoptions
!JetBrains/IdeaIC2025.2/options/colors.scheme.xml
!JetBrains/IdeaIC2025.2/options/editor-font.xml
!JetBrains/IdeaIC2025.2/options/project.default.xml
!JetBrains/IdeaIC2025.2/options/trusted-paths.xml
