# ansible

ansible/ansible/ansible.secret

# cava

cava/cava/shaders/
cava/cava/themes/

# claude

claude/**
!claude/**/

claude/claude/plugins/

!claude/claude/settings.json

# dbeaver

dbeaver/**
!dbeaver/**/

!dbeaver/DBeaverData/workspace6/.metadata/.config/connection-types.xml

!dbeaver/DBeaverData/workspace6/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
!dbeaver/DBeaverData/workspace6/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
!dbeaver/DBeaverData/workspace6/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.jkiss.dbeaver.core.prefs
!dbeaver/DBeaverData/workspace6/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.jkiss.dbeaver.ui.app.standalone.prefs
!dbeaver/DBeaverData/workspace6/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.jkiss.dbeaver.ui.statistics.prefs

!dbeaver/DBeaverData/workspace6/.metadata/.plugins/org.jkiss.dbeaver.ui/dialog_settings.xml

!dbeaver/DBeaverData/workspace6/General/.dbeaver/data-sources.json

# gemini

gemini/**
!gemini/**/

gemini/.gemini/history/

!gemini/.gemini/settings.json

# ghostty

ghostty/ghostty/shaders/

# intellij

intellij/**
!intellij/**/

!/intellij/JetBrains/IdeaIC2025.2/codestyles/Default.xml

!/intellij/JetBrains/IdeaIC2025.2/early-access-registry.txt
!/intellij/JetBrains/IdeaIC2025.2/idea64.vmoptions

!/intellij/JetBrains/IdeaIC2025.2/options/advancedSettings.xml
!/intellij/JetBrains/IdeaIC2025.2/options/colors.scheme.xml
!/intellij/JetBrains/IdeaIC2025.2/options/editor-font.xml
!/intellij/JetBrains/IdeaIC2025.2/options/editor.xml
!/intellij/JetBrains/IdeaIC2025.2/options/ide.general.xml
!/intellij/JetBrains/IdeaIC2025.2/options/jdk.table.xml
!/intellij/JetBrains/IdeaIC2025.2/options/laf.xml
!/intellij/JetBrains/IdeaIC2025.2/options/linux/keymap.xml
!/intellij/JetBrains/IdeaIC2025.2/options/notifications.xml
!/intellij/JetBrains/IdeaIC2025.2/options/other.xml
!/intellij/JetBrains/IdeaIC2025.2/options/project.default.xml
!/intellij/JetBrains/IdeaIC2025.2/options/terminal.xml
!/intellij/JetBrains/IdeaIC2025.2/options/trusted-paths.xml
!/intellij/JetBrains/IdeaIC2025.2/options/ui.lnf.xml
!/intellij/JetBrains/IdeaIC2025.2/options/updates.xml

# libreoffice

libreoffice/**
!libreoffice/**/

!/libreoffice/libreoffice/4/user/registrymodifications.xcu

# teams-for-linux

teams-for-linux/**
!teams-for-linux/**/

!teams-for-linux/teams-for-linux/config.json

# tidal_dl_ng

tidal_dl_ng/tidal_dl_ng/token.json

# zsh

zsh/zsh/.zcompdump
zsh/zsh/.zshenv
