// defaults at https://github.com/niri-wm/niri/blob/main/resources/default-config.kdl

input {
  keyboard { xkb { layout "pl"; }; }
  mouse { accel-speed -0.75; }
  touchpad { accel-speed 0.25; natural-scroll; tap; }
}

include "host.kdl"

prefer-no-csd // no client side decorations

layout {
  gaps 16

  preset-column-widths { proportion 0.33333; proportion 0.5; proportion 0.66667; proportion 1.0; }
  preset-window-heights { proportion 0.33333; proportion 0.5; proportion 0.66667; proportion 1.0; }
  // default-column-width {}

  shadow {
    on; offset x=0 y=0; spread 8; softness 16;
    color "#0004"; inactive-color "#0002"
  }

  focus-ring {
    width 2
    active-gradient from="#0000" to="#fabd2faa" angle=135
    inactive-color "#505050"
  }

  tab-indicator { // TODO
    width 4
    gap 8
    place-within-column
    gaps-between-tabs 4
    corner-radius 2
    active-color "#fabd2faa"
  }

  insert-hint { // TODO
    color "#fabd2faa"
    gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
  }

  background-color "transparent" // stationary overview wallpaper
}

// stationary overview wallpaper
layer-rule { match namespace="^noctalia-wallpaper*"; place-within-backdrop true; }

overview { // TODO
  workspace-shadow { off; } // stationary overview wallpaper
}

recent-windows { // TODO
  highlight {
    active-color "#990000cc"
    urgent-color "#999999ff"
    padding 32
    corner-radius 8
  }
  binds {
    Alt+Tab         { next-window; }
    Alt+Shift+Tab   { previous-window; }
    Alt+grave       { next-window     filter="app-id"; }
    Alt+Shift+grave { previous-window filter="app-id"; }
  }
}

window-rule {
  // TODO: rounded corners on player & worker
  geometry-corner-radius 8; clip-to-geometry true; // rounded corners
  draw-border-with-background false // no background for border & focus ring
}

window-rule {
  match is-window-cast-target=true
  // TODO: orange border for screen casted windows
}

window-rule { match app-id="^kitty$"; open-maximized true; background-effect { blur true; }; }
window-rule { match app-id="" title="Picture in picture"; open-floating true; }

gestures { hot-corners { off; }; }

hotkey-overlay { skip-at-startup; }

debug { honor-xdg-activation-with-invalid-serial; } // noctalia

binds { // defaults are are not merged

  // overview

  Mod+O repeat=false { toggle-overview; } // also with four finger swipe up

  // size & position

  Mod+R      { switch-preset-column-width; }
  Mod+Ctrl+R { switch-preset-window-height; }

  Mod+C      { center-column; }
  Mod+Ctrl+C { center-visible-columns; }

  Mod+M { maximize-column; }
  Mod+Ctrl+M { maximize-window-to-edges; }

  F11      { fullscreen-window; }
  Ctrl+F11 { toggle-windowed-fullscreen; }

  // focus (also with three finger swipes)

  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-or-workspace-down; }
  Mod+Up    { focus-window-or-workspace-up; }
  Mod+Right { focus-column-right; }

  Mod+H { focus-column-left; }
  Mod+J { focus-window-or-workspace-down; }
  Mod+K { focus-window-or-workspace-up; }
  Mod+L { focus-column-right; }

  Mod+WheelScrollDown { focus-column-right; }
  Mod+WheelScrollUp   { focus-column-left; }

  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }

  Mod+Ctrl+WheelScrollDown { focus-workspace-down; }
  Mod+Ctrl+WheelScrollUp   { focus-workspace-up; }

  Mod+Tab { focus-workspace-previous; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }

  Mod+Shift+Left  { focus-monitor-left; }
  Mod+Shift+Down  { focus-monitor-down; }
  Mod+Shift+Up    { focus-monitor-up; }
  Mod+Shift+Right { focus-monitor-right; }

  Mod+Shift+H { focus-monitor-left; }
  Mod+Shift+J { focus-monitor-down; }
  Mod+Shift+K { focus-monitor-up; }
  Mod+Shift+L { focus-monitor-right; }

  // move

  Mod+Ctrl+Home { move-column-to-first; }
  Mod+Ctrl+End  { move-column-to-last; }

  Mod+Ctrl+Left  { move-column-left; }
  Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
  Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
  Mod+Ctrl+Right { move-column-right; }

  Mod+Ctrl+H { move-column-left; }
  Mod+Ctrl+J { move-window-down-or-to-workspace-down; }
  Mod+Ctrl+K { move-window-up-or-to-workspace-up; }
  Mod+Ctrl+L { move-column-right; }

  Mod+Ctrl+1 { move-window-to-workspace 1; }
  Mod+Ctrl+2 { move-window-to-workspace 2; }
  Mod+Ctrl+3 { move-window-to-workspace 3; }
  Mod+Ctrl+4 { move-window-to-workspace 4; }
  Mod+Ctrl+5 { move-window-to-workspace 5; }
  Mod+Ctrl+6 { move-window-to-workspace 6; }
  Mod+Ctrl+7 { move-window-to-workspace 7; }
  Mod+Ctrl+8 { move-window-to-workspace 8; }
  Mod+Ctrl+9 { move-window-to-workspace 9; }

  Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
  Mod+Shift+Ctrl+Down  { move-window-to-monitor-down; }
  Mod+Shift+Ctrl+Up    { move-window-to-monitor-up; }
  Mod+Shift+Ctrl+Right { move-window-to-monitor-right; }

  Mod+Shift+Ctrl+H { move-window-to-monitor-left; }
  Mod+Shift+Ctrl+J { move-window-to-monitor-down; }
  Mod+Shift+Ctrl+K { move-window-to-monitor-up; }
  Mod+Shift+Ctrl+L { move-window-to-monitor-right; }

  Mod+Page_Down { move-workspace-down; }
  Mod+Page_Up   { move-workspace-up; }

  // multi window columns

  Mod+Comma  { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }

  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  Mod+W { toggle-column-tabbed-display; }

  // floating windows

  Mod+F       { toggle-window-floating; }
  Mod+Shift+F { switch-focus-between-floating-and-tiling; }

  // settings

  Mod+S      { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
  Mod+Ctrl+S { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }

  // TODO

  // launcher emoji
  // launcher settings
  // launcher windows
  // lockScreen lock
  // nightLight toggle
  // notifications enableDND
  // powerProfile cycle
  // sessionMenu lockAndSuspend
  // sessionMenu toggle

  // apps

  Mod+T { spawn "kitty"; }
  Mod+B { spawn "brave-origin"; } // or brave

  Mod+A { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }

  // audio

  XF86AudioMute        allow-when-locked=true { spawn "~/code/arch/audio" "mute"; }
  XF86AudioRaiseVolume allow-when-locked=true { spawn "~/code/arch/audio" "up"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "~/code/arch/audio" "down"; }

  // playback

  XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
  XF86AudioStop allow-when-locked=true { spawn "playerctl" "stop"; }
  XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }
  XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }

  // brightness

  XF86MonBrightnessDown allow-when-locked=true { spawn "~/code/arch/brightness" "down"; }
  XF86MonBrightnessUp   allow-when-locked=true { spawn "~/code/arch/brightness" "up"; }

  // screenshot

  Print      { screenshot; }
  Ctrl+Print { screenshot-window; }
  Alt+Print  { screenshot-screen; }

  // take back keyboard shortcuts from another app

  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // close

  Mod+Q repeat=false { close-window; }
  Alt+F4 repeat=false { close-window; }

  // exit

  Mod+Shift+P { power-off-monitors; }

  Ctrl+Alt+Delete { quit; }
}

// startup

spawn-at-startup "qs" "-c" "noctalia-shell"
